*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font */



.container{
    max-width: 1500px;
    margin: 0 auto;
}

header{
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 90px;
}

.nav{
    max-width: 100%;
    height: 90px;
    /* background-color: aqua; */
}

.nav>.logo{
    float: left;
   
}

.logo>a{
    text-decoration: none;
    font-size: 25px;
    font-family: tahoma;
    font-weight: bold;
    margin-left: 50px;
    color: black;
}


nav>ul{
    text-align: center;

}

nav>ul>li{
    list-style: none;
    display: inline-block;
    padding: 0 18px;
}

nav>ul>li>a{
    text-decoration: none;
    font-family: arial;
    position: relative;
    padding: 5px 0;
    color: black;
}

nav>ul>li>a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #3B4A6B;
    bottom: 0;
    left: 0;
    position: absolute;
    transition: all 0.5s ease-in-out;
}

nav>ul>li>a:hover::after{
    width: 50%;
    transform: translateX(100%);
    
}
nav>.icons{
    float: right;
}

.icons>ul{
    margin: 0;
    padding: 0;
    float: right;
    margin-right: 20px;
    margin-top: -15px;
}

.icons>ul>li{
    list-style: none;
    display: inline-block;
    padding: 0 10px;
    
}

.icons>ul>li>a{
    text-decoration: none;
    color: black;
}


header>.social{
    float: left;
}

.social>ul{
    margin: 0;
    padding: 0;
    margin-top: 130px;
}

.social>ul>li{
    list-style: none;
    text-decoration: none;
    padding: 8px 0;
}

.social>ul>li>a{
    color: gray;
}


.nav>hr{
    margin-top: 30px;
    border: none;
    height: 1px;
    max-width: 100%;
    background-color: gray;
}

@keyframes move{
    0% {left: 0; bottom: 0; right: 0; top: 0;}
    25% {left: 0; bottom: 0; right: 0; top: 0px;}
    50% {left: 0; bottom: 0; right: 0; top: -3px;}
    75% {left: 0; bottom: 0; right: 0; top: 1px;}
    100% {left: 0; bottom: 0; right: 0; top: 0;}
}


main{
    max-width: 100%;
    position: relative;
    display: grid;
    margin-bottom: 80px;
}

main>h2{
    text-align: center;
    font-family: 'Secular One', sans-serif;
    font-size: 35px;
    word-spacing: 5px;
    font-weight: 500;
    margin-bottom: 40px;
      
}

article{
    max-width: 100%;
    display: grid;
    position: relative;
    grid-template-columns: 590px 280px 280px;
    grid-template-rows: 300px;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    justify-content: center;

    
}



article>.prod_1{
    background-color: #FAF9FA;
    border-radius: 10px;
    position: relative;
    background-image: url(images/w1.png);
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: center;
    color: #3B4A6B;
}

article>.prod_2{
    background-color: #FAF9FA;
    border-radius: 10px;
    position: relative;
    background-image: url(images/w2.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    color: #3B4A6B;
}

article>.prod_3{
    background-color: #FAF9FA;
    border-radius: 10px;
    position: relative;
    background-image: url(images/w3.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    color: #3B4A6B;
}

/* article>.prod_4{
    background-color: #FAF9FA;
    border-radius: 10px;
    position: relative;
    background-image: url(images/w4.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    color: #3B4A6B;
} */


article>.prods{
    clear: both;
    max-width: 100%;
    display: grid;
    position: relative;
    grid-template-columns: 280px 280px 280px 280px;
    grid-template-rows: 300px;
    grid-column-gap: 30px;
    

}

.prods>.prod_4{
    background-color: #FAF9FA;
    border-radius: 10px;
    position: relative;
    background-image: url(images/w4.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    color: #3B4A6B;
}


.prods>.prod_5{
    background-color: #FAF9FA;
    border-radius: 10px;
    position: relative;
    background-image: url(images/w5.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    color: #3B4A6B;
}

.prods>.prod_6{
    background-color: #FAF9FA;
    border-radius: 10px;
    position: relative;
    background-image: url(images/w6.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    color: #3B4A6B;
}


.prods>.prod_7{
    background-color: #FAF9FA;
    border-radius: 10px;
    position: relative;
    background-image: url(images/w1.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    color: #3B4A6B;
}


.label{
    font-family: tahoma;
    color: white;
    top: 0;
    left: 0;
    padding: 10px 20px;
    background-color: #F0D43A;
    border-top-left-radius: 10px;
    position: absolute;
    margin-top: 0px;
}

/* .img_prod_1{
    max-width: 20%;
    
}  */

 /* .img_prod_2{
    max-width: 40%;
} */

/* .img_prod_3{
    max-width: 40%;
} */

.cate{
    float: left;
    bottom: 0;
    left: 0;
    font-family: tahoma;
    position: absolute;
    padding: 20px 10px;
}

.price{
    position: absolute;
    bottom: 0;
    right: 0;
    float: right;
    font-family: tahoma;
    padding: 20px 10px;
}

main>button{
    margin-top: 60px;
    position: relative;
    justify-self: center;
    background-color: #F0D43A;
    color: white;
    padding: 10px 50px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
}

main>button:hover{
    animation-name: move;
    animation-duration: 1s;
    animation-timing-function: ease;
    filter: opacity(0.9);
    
}


 /* Style cho foooter */

 footer{
    max-width: 100%;
    height: 350px;
    background-color: #3B4A6B;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% auto;
    grid-template-rows: 300px;
    grid-column-gap: 20px;
    justify-content: center;
    position: relative;
 }

 .about{
    display: grid;

 }

 .about>h3{
    font-family: arial;
    font-size: 25px;
    color: white;
    margin-bottom: 30px;
    margin-top: 60px;
    margin-left: 30px;
  
    
 }

 .about>p{
    font-family: arial;
    color: white;
    width: 80%;
    margin-bottom: 20px;
    justify-self: center;
    margin-top: -50px;
 }

 .about>ul{
    padding: 0;
    margin-top: -36px;
    margin-left: 26px;
    
    
 }

 .about>ul>li{
    display: inline-block;
    list-style: none;
    margin-right: 5px;
    
    
 }

 .about>ul>li>a{
    background-color: white;
    padding: 10px 12.9px;
    border-radius: 50%;
 }




 .reachat{
    font-family: arial;
    display: grid;
 }


 .reachat>h3{
    font-size: 25px;
    color: white;
    margin-bottom: 30px;
    margin-top: 60px;
    margin-left: 33px;
  
 }

 .reachat>ul{
    margin-top: -100px;
    padding: 0;
    justify-self: center;
 }

 .reachat>ul>li{
    display: block;
    list-style: none;
 }

 .reachat>ul>li>a{
    color: white;
    text-decoration: none;
 }

 .reachat>ul>li>a>i{
    margin-right: 5px;
    padding: 10px 0;
 }


 .reachat>ul>li>a:hover{
    color: yellow;
   
 }
 .subscribe{
    font-family: arial;
    position: relative;
  
 }

 .subscribe>h3{
    font-size: 25px;
    color: white;
    margin-bottom: 30px;
    margin-top: 60px;
    margin-left: 33px;
 }

 .subscribe>input{
    width: 250px;
    padding: 12px 20px;
    border: none;
    width: 250px;
    background-color: #4D618C;
    color: white;
    font-size: 16px;
    margin-top: -20px;
    margin-bottom: 30px;
    margin-left: 33px;
 }

 .subscribe>.sub{
        background-color: #F0D43A;
        color: white;
        border-radius: 5px;
        font-size: 16px;
        border: none;
       
 }

 .subscribe>.sub:hover{
    animation-name: move;
    animation-duration: 1s;
    animation-timing-function: ease;
    filter: opacity(0.9);
    position: relative;
 }



 .map{
    display: grid
 }

 .map>iframe{
    align-self: center;
    margin-top: 30px;
    
 }

.cre{
    text-align: center;
    color: white;
    margin-top: -40px;
    position: relative;
    font-family: arial;
}